:root {
  --primary-font: 'Noto Sans JP', sans-serif;
  --main-color: #cc6a3c;
  --text-color: #c18f64;
  --second-color: #fceee7;
  --third-color: #3c4142;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--primary-font);
  line-height: 1;
  font-size: 1.4rem;
}

li {
  list-style-type: none;
}

input,
button {
  font-family: var(--primary-font);
  line-height: 1;
  outline: none;
}

button {
  cursor: pointer;
}

.event {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.event-banner-top {
  position: relative;
}

.event-banner-top-image {
  width: 100%;
  height: 14vh;
  object-fit: cover;
}

.event-content {
  padding: 0.8rem 2rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.event-card {
  box-shadow: rgba(149, 157, 165, 0.08) 0px 5px 7px;
  border-radius: 1rem;
}

.event-card-title {
  font-size: 3vh;
  font-weight: 700;
  color: white;
  background-color: var(--main-color);
  height: 5vh;
  line-height: 5vh;
  text-align: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.event-card-body {
  border-bottom: 2.7px solid var(--second-color);
  border-left: 2.7px solid var(--second-color);
  border-right: 2.7px solid var(--second-color);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.event-card-text {
  color: var(--third-color);
  font-size: 2.5vh;
  font-weight: 900;
  padding: 2vh 1rem;
  text-align: center;
  line-height: 1.3;
  letter-spacing: 0.03rem;
}

.event-card-list {
  display: flex;
  margin: 0 1.8rem;
  border-top: 2px dashed #e9a439;
  padding: 0.8rem 0;
}

.event-card-item {
  width: 25%;
  text-align: center;
}

.event-card-item-image {
  margin: auto;
  width: 8vh;
  border-radius: 50%;
}

.event-card-item-text {
  font-size: 1.3vh;
  color: var(--third-color);
  font-weight: 900;
  line-height: 0.9rem;
  margin-top: 0.3rem;
}

.event-plus {
  text-align: center;
  color: var(--main-color);
  font-size: 4vh;
  font-weight: 700;
}

.event-card-image {
  margin: 0 1.8rem;
  padding: 1rem 0;
  border-top: 2px dashed #e9a439;
}

.event-card-image img {
  width: 40vh;
  margin: auto;
}

.event-title {
  text-align: center;
  background-color: var(--second-color);
}

.event-title-text {
  color: var(--text-color);
  height: 4vh;
  line-height: 4vh;
  font-weight: 700;
  font-size: 2vh;
}

.event-wrap-button {
  margin: 3vh 0;
  text-align: center;
}

.event-button {
  display: block;
  margin: 0 auto;
  background-color: var(--main-color);
  color: white;
  width: 85%;
  height: 6.5vh;
  line-height: 6.5vh;
  border-radius: 0.6rem;
  font-weight: 700;
  font-size: 2.4vh;
}

.event-card-underline {
  text-decoration: underline #fdf150;
  text-decoration-thickness: 0.3rem;
  text-decoration-skip-ink: none;
  text-underline-offset: -0.2rem;
  -webkit-text-decoration: underline #fdf150;
  -webkit-text-decoration-thickness: 0.3rem;
  -webkit-text-decoration-skip-ink: none;
  -webkit-text-underline-offset: -0.2rem;
}

/* @media screen and (min-width: 320px) {
  .event-content {
    padding: 1.5rem 3rem;
  }

  .event-banner-top-image {
    height: 100%;
  }

  .event-wrap-button {
    padding: 1.5rem 0;
  }
} */
